*,
*::before,
*::after {
  margin: 0;
  padding: 0;  /*모든 속성의 마진값, 패딩값이 0으로 설정되어 있음*/
  box-sizing: border-box;
  font-size: 100%;  /*모든 폰트 사이즈 동일, 기본값이 16픽셀 */
  font-family: gulim;
}
html, body{
  height:  100%;
  overflow: hidden;
}
.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
/*index.html*/

load{ 
	position: absolute; 
	/*width: 100%;
	height: 100%;*/
	top:  50%;
	left: 50%;
	padding:  10vw;
	border-style: double;
	transform:  translate(-50%,-50%);
	display: flex; 
	flex-direction: column;
	
}
#loadimages{
	display: flex;
	width: 30vw;
}
#bonbon{
	/*position: absolute; */
	width:  20vw; /*
	top:  50%;
	left: 50%;
	transform:  translate(-50%,-50%);*/
}

#eye{
	/*position: absolute;*/
	width:  10vw; 
	/*top:  46%;
	left: 48%;
	transform:  translate(-50%,-50%);*/
}

load p {
	/*position: absolute; */
	width: 100%;
	text-align: center;
	bottom: 0px;
	font-family: serif;
	font-style: italic;
	color:  blue;
	padding: 15px;
}
#myProgress { 
  width: 20vw; 
  
  background-color: rgb(100);
}

#myBar {
  width: 1%;
  height: 2px;
  margin-top: 10px;
  background-color: black;
}

poem{
	width:  100%;
	position: absolute;
	left:  10vw; 
    top:  10vh;   

}
#poem{
	display:  none;
}
table{
	border: 1px solid black;
	/*width: 50vw;*/
	/*position: absolute;
	left:  40%;
    transform: translateX(-50%);
    top:  40vh;  */
}

th{
	font-style: italic;
	cursor: move;
	font-size: 12pt;
}

td{
	font-size: 9pt;
}
th, td{
	border: 1px solid black;
	padding:  8px;
	text-align: center;
	width:  5vw;
}
 
button{
	font-size: 9pt;
	font-style: italic;
	font-family: serif;
	padding: 5px;
}

#phone{
	width: 32vw;
	position: absolute;
	text-align: center;
	transform: translate(-50%,-50%);
	left:  50%;
	top:  50%;
	padding:  1vw;
 	border-style: double;
}
#phonescreen{
	height:  10vh; 
	width: 28vw;
	text-align: center;
	position: relative;
	transform: translateX(-50%);
	left:  50%; 
	border: 1px double black;
}
#keypad{
	display: flex;
	flex-direction: column;
}

#keypad button{
	width:  8vw; 
	padding:  5px;
	margin:  .5vw;
}

/*main*/
#online-now {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* start with the text hidden */
  opacity: 0;
  /* add a transition so it'll fade in nicely */
  transition: opacity 0.2s ease-out;
}

#online-now.visible {
  opacity: 1;
}